{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}Войти{% endblock %}

{% block content %}

<main>
  <div class="mt-5 pt-3 container">
    <section class="mb-4">
      <div class="row wow fadeIn">
      <div class="col-6 offset-3">
        <h1>{% trans "Login page" %}</h1>
        <p>Enter your username and password to log in to the system</p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="btn btn-default " href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
          <button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
        </form>
      </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}
