{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="mt-4 container">
            <section class="text-center ">
                <div class="well text-left">
                    <h4>Reader Profile</h4>
                    <div class="float-right">
                        <a class="btn btn-primary" style="width: 100%" href="{% url 'students' %}">Back to
                            Readers List</a>
                        <br/>
                        <br/>
                        <a class="btn btn-warning" style="width: 100%" href="{% url 'update_profile' pk=object.id %}">Update
                            Profile</a>
                        <br/>
                        <a class="btn btn-warning" style="width: 100%"
                           href="{% url 'update_password_only' pk=object.id %}">Update Password</a>
                        <br/>
                        <br/>
                        <a class="btn btn-success" style="width: 100%" href="{% url 'assign_item' pk=object.id %}">Assign
                            Book Instance<br/>to Reader</a>
                    </div>
                    <br/>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ object.last_name }} {{ object.first_name }} {{ object.profile.patronymic }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Group</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ object.profile.academy_group }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email Address</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ object.email }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">User Code</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ object.username }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <h4>Current Books Borrowed by Reader</h4>
                    <br/>
                    <div class="row wow fadeIn">
                        <table class="table table-bordered table-striped text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Issued By</th>
                                <th scope="col">Title</th>
                                <th scope="col">Authors</th>
                                <th scope="col">Inventory Number</th>
                                <th scope="col">Expected Return Date</th>
                                <th scope="col">Overdue</th>
                                <th scope="col" colspan="3">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in object.profile.get_related_book_instances %}
                                <tr>
                                    <td>{{ item.operator.last_name }} {{ item.operator.first_name }}</td>
                                    <td>{{ item.book.title }}</td>
                                    <td>
                                        {% for author in item.book.authors.all %}
                                            {{ author.surname }} {{ author.name }} <br/>
                                        {% endfor %}
                                    </td>
                                    <td>{{ item.inventory_number }}</td>
                                    <td>{{ item.due_back|date:'d.m.Y'|default:'-' }}</td>
                                    <td>
                                        {% if item.is_overdue %}
                                            <span class="badge badge-pill badge-danger">Yes</span>
                                        {% else %}
                                            <span class="badge badge-pill badge-success">No</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'unassign_item' pk=item.id %}"
                                              method="post"
                                              onsubmit="window.delete_confirmation()">
                                            {% csrf_token %}
                                            <button type="submit" class="badge rounded bg-danger shadow-none">
                                                Unassign <br/> Instance
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7">The user currently has no books</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <hr/>
                        <h4>Books Previously Borrowed by User</h4>
                        <table class="table table-bordered table-striped text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Issued By</th>
                                <th scope="col">Title</th>
                                <th scope="col">Inventory Number</th>
                                <th scope="col">Return Date to Library</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in object.profile.get_related_history %}
                                <tr>
                                    <td>{{ item.operator.last_name }} {{ item.operator.first_name }}</td>
                                    <td>{{ item.book.title }}</td>
                                    <td>{{ item.inventory_number }}</td>
                                    <td>{{ item.due_back|date:'d.m.Y'|default:'-' }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">The user has not borrowed any book instances from the library yet</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script type="text/javascript">
        window.delete_confirmation = function () {
            let isValid = confirm(
                'The "Unassign Instance" button was pressed. ' +
                'Are you sure you want to unassign this book instance?'
            );
            if (!isValid) {
                event.preventDefault();
                alert("The book instance has not been unassigned!");
            }
        }
    </script>
{% endblock content %}
