{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <div class="pt-3 container">
        <div class="float-right">
            <a class="btn btn-primary float-right" href="{% url 'students' %}">Back to Student List</a>
        </div>
        <section>
            <div class="row wow fadeIn">
                <div class="col-6 offset-3 mb-5">
                    <p>You can update the user's password here (for instance, if they forgot it)</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.new_password1 | as_crispy_field }}
                        {{ form.new_password2 | as_crispy_field }}
                        <button class="btn btn-primary" type="submit">Change Password</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock content %}
